<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <title>Readit</title>

    <!-- <link rel="stylesheet" href="app.component.html"> -->
  </head>
  <body>

    <header>
      <button id="show-modal" (click)="onAdd()">+</button>
      <input type="text" id="search" placeholder="Search" onclick="onSearch()">
    </header>

    <main>
      <p id="no-items">No Items</p>
      <div id="items"></div>
    </main>


    <div id="modal">
      <input type="text" id="url" placeholder="Enter URL">
      <button id="add-item" (click)="onAddURL()">Add Item</button>
      <button id="close-modal" (click)="onClose()">Cancel</button>
    </div>



    <!-- <h1>{{title}}</h1> -->
    <!-- <script>
      require('./app.component.ts')
    </script> -->
  </body>
</html>
